<!DOCTYPE html>
<html>
	<head>
		<title>Garage Pi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/style.css">
	</head>
	<body>
		<div class="page">
			<div class="content">	  
				<div style="display:block; overflow: auto;">
						<form class="left" action="/settings">
								<input type="submit" value="Back" />
						</form>
				</div>
				<h2>SSL/TLS Certificate</h2>
				<p>
					Use of this SSL/TLS certificate is important when Garage-Pi is exposed to the public internet. 
					Although Garage-Pi uses user sessions and login, the session cookie could easily be stolen without the use of SSL/TLS.
				</p><p>
					To accomplish this, Garage-Pi creates it's own self-signed certificates. This certificates are not issued by a Certificate Authority (CA).
					This means that your browser does not trust them. The certificates used for Garage-Pi are only being used to create HTTPS encrypted communication between the user and the server.
					The only way to have encrypted HTTPS communication is to use a SSL/TLS certificate.
					<br><br>
					A valid CA signed certificate is not used with Garage-Pi because CAs require domain names to be attached to certificates.
					This webserver runs on your local machine (the Raspberry Pi) and is not given a valid CA signed certificate from a device provisioning service.
				</p><p>
					<a href="/settings/cert/download">Download SSL/TLS Certificate</a><br><br>
					After you download the certificate, please install it in your local root store. 
					This will allow you to access Garage-Pi securely without seeing a invalid certificate page.
					<br><br><strong>Android OS does not allow the user install certificates that the browser can use.</strong>
				</p>
			</div>

			<div class="content" style="max-width:500px">
				If you have a static IP address and have a domain pointed at it, you can install it by following these directions:
				<ol>
					<li>Copy your certificate and key to the raspberry pi. Using terminal:</li>
						<ul>
							<li>scp /path/to/local/file pi@192.168.1.1:/home/pi</li>
							<li>Note: your raspberry pi might have a different IP address!</li>
						</ul>
					<li>You will then need to SSH into your raspberry pi</li>
						<ul>
							<li>sudo ssh pi@192.168.1.1</li>
						</ul>
					<li>Then you will need to copy the certificates and key to the docker container.</li>
						<ul>
							<li>sudo docker cp PrivateKey.pem garage-pi:/code/ssl/Leaf.PrivateKey.pem</li>
							<li>sudo docker cp Certificate.pem garage-pi:/code/ssl/LeafAndIntermediate.Cert.pem</li>
							<li>Note: The files must be named "Leaf.PrivateKey.pem" and "LeafAndIntermediate.Cert.pem" and in the /code/ssl folder on the Garage-Pi container.</li>
						</ul>
					<li>Finally, you need to restart the garage-pi container.</li>
						<ul>
							<li>sudo docker container restart garage-pi</li>
						</ul>
				</ol>
			</div>
		</div>
	</body>
</html>