<!DOCTYPE html>
<html>
	<head>
		<title>Garage Pi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="manifest" href="/assets/manifest.json">
	</head>
	<body>
		<div class="page">
			<div class="content">
				<div style="display:block; overflow: auto;">
						<form class="left" action="/logout">
								<input type="submit" value="Logout" />
						</form>

						<form class="right" action="/settings">
								<input type="submit" value="Settings" />
						</form>
				</div>
   
				<%if(typeof create != "undefined" && create == true){%>
				   <div class="isa_success">New user was successfully created</div>
				<%}%>

				<%if(typeof deleted != "undefined" && deleted == true){%>
				   <div class="isa_success">User was successfully deleted</div>
				<%}%>

				<%if(typeof change != "undefined" && change == true){%>
				   <div class="isa_success">Password was successfully changed</div>
				<%}%>    
				<p></p>
				<div id="garage" class="garage"></div>		
			</div>
			<div class="content" id="log"></div>
		</div>
		<% for(var i = 0 ; i < scripts.length ; i++) { %>
				   <script src= <%= scripts[i] %> async></script>
		<% } %>
	</body>
</html>