<!DOCTYPE html>
<html>
<head>
<title>Garage Pi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<div class="page">

  <div class="content">

	<div style="display:block; overflow: auto;">
        <form class="left" action="/settings">
                <input type="submit" value="Back" />
        </form>
	</div>

	<h4>Configure Raspberry Pi GPIO Pins</h4>
	
	<%if(typeof success != "undefined" && success == true){%>
       <div class="isa_success">Pins have been successfully set</div>
    <%}%>
    
    <%if(typeof success != "undefined" && success == false){%>
    	<div class="isa_error" style="font-size:0.75em">
        	Valid GPIO pins are 7, 11, 12, 13, 15, 16, 18, 21, 22, 24, 26, 29, 31, 32, 33, 35, 36, 37, 38, 40.
       </div>
    <%}%>
	
	Set the pins used for the open sensor, close sensor, and relay on the Raspberry Pi.
	<p></p>
	<form class="login-form" method="post">
		Open<input type="number" name="open" min="1" max="40" placeholder=<%=open%>>
		Close<input type="number" name="close" min="1" max="40" placeholder=<%=close%>>
		Relay<input type="number" name="relay" min="1" max="40" placeholder=<%=relay%>>
      	<button>Set Pins</button>
    </form>
	
	
  </div>
</div>
</body>
</html>


