<!DOCTYPE html>
<html>
	<head>
		<title>Garage Pi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/style.css">
		<style>
		.vertical-menu {
		  float: left;
		  margin: 10px;
		}
		
		.vertical-menu a {
		  background-color: #eee;
		  color: black;
		  display: block;
		  padding: 12px;
		  text-decoration: none;
		}
		
		.vertical-menu a:hover {
		  background-color: #ccc;
		}
		</style>
	</head>
	<body>
		<div class="page">
			  <div class="content">
				<div style="display:block; overflow: auto;">
						<form class="left" action="/">
								<input type="submit" value="Back" />
						</form>
				</div>
				<h2>Settings</h2>

					<div class="vertical-menu">
				  		<h3>Users</h3>
						<a href="/settings/users?type=create">Create New User</a>
						<a href="/settings/users?type=delete">Delete a User</a>
						<a href="/settings/users?type=change">Change user password</a>
						<a href="/settings/assistant">Voice Assistant Setup</a>
					</div>
					<div class="vertical-menu">
						<h3>Configuration</h3>
						<a href="/settings/logs">Logs</a>
						<a href="/settings/timer">Auto Close Timer</a>
						<a href="/settings/pins">Raspberry Pi GPIO Pins</a>
						<a href="/settings/notification">Push Notifications</a>
					</div>
				
				<div style="text-align:center;clear:both;">    
					<br>
					<a target="_blank" href="https://github.com/kylejramstad/garage-pi-v2">Visit This Project on Github</a>
					<br>
					<%if(typeof version != "undefined"){%>
						Version: <%=version%>
					<%}%>
				</div>
			  </div>

			<div class="content">
				<h2>Acknowledgements</h2>
				<ul style="font-size:0.75em">
					<li>Original Garage-Pi Created by Tyler Jones at <a  target="_blank" href="https://howchoo.com/g/yznmzmuxywu/how-to-control-your-garage-door-from-your-phone-using-a-raspberry-pi#comments">Howchoo.com</a> and on <a target="_blank" href="https://github.com/Howchoo/garage-pi">Github</a></li>
					<li>Favicon made by <a target="_blank" href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
				</ul>
			</div>

			<div class="content">
				<p style="text-align:center;">
				<a rel="license" target="_blank" href="https://github.com/kylejramstad/garage-pi-v2.0/blob/master/LICENSE.md"><img src="/assets/license-logo.png"/><br/>This work is licensed under GNU General Public License v3</a>.
				</p>
			</div>
		</div>
	</body>
</html>