<!DOCTYPE html>
<html>
<head>
<title>Garage Pi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<div class="page">

  <div class="content">
  
    
<div style="display:block; overflow: auto;">
        <form class="left" action="/settings">
                <input type="submit" value="Back" />
        </form>
</div>

	<h4>Change your Garage-Pi Password</h4>
  </div>
  
  <div class="content">
  	<%if(typeof error != "undefined" && error == true){%>
       <div class="isa_error">Current password is incorrect or new passwords do not match</div>
    <%}%>
    
    <%if(typeof errors != "undefined"){%>
    <div class="isa_error" style="font-size:0.6em">
    <ul>
    <% for(var i = 0 ; i < errors.length ; i++) { %>
           <li><%= errors[i] %></li>
	<% } %>
	</ul>
    </div>
    <%}%>
    
    <form class="login-form" method="post">
      <input type="password" name="passwordOriginal" placeholder="old password"/>
      <input type="password" name="passwordNew1" placeholder="new password"/>
      <input type="password" name="passwordNew2" placeholder="verify new password"/>
      <button>Change Password</button>
    </form>
    
  </div>
</div>

</body>
</html>


