[req]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
prompt                 = no
x509_extensions        = v3_req

[req_distinguished_name]
C = US
ST = CA
L = Los Angeles
O = Garage-Pi
OU = Version 2
CN = localhost

[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
